:root{
  --org: #FF7E27;
  --black: #354046;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.AppContainer{
  max-height: 100vh;
  
}
input {
  outline: hidden;
  border-width: 0 0 2px;

  border-color: var(--black)
}
input:focus {
  border-color: var(--org);
  outline: 1px none #000
}

.form-container{
width: 90%;
min-height: 50vh;
border-radius: 20px;
display: flex;
justify-content: center;
background: #fff;
/* background-image: url(https://media.istockphoto.com/id/135887442/photo/white-tissue-paper-background-with-geometric-design.webp?b=1&s=170667a&w=0&k=20&c=hbW4kQw0YDlK5wWG5_UvHYVaLuz0ZXZZdUhh5QHUmWo=); */
box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
align-items: center;
}
.form-container-1{
width: 40%;
color: #fff;
display: flex;
text-align: center;
align-items: center;
flex-direction: column;
border-radius: 20px 0 0 20px;

background: #000;
height: 66vh;
}
.form-container-1 h1{
font-size: 2rem;
}
.form-container-1 p{
font-size: 1rem;
color:#F2F2F2;
opacity: 0.6;
}
.name-span{
  display: block;
}
.form-container-2{
width: 60%;
height: 66vh;
border-radius: 0 20px 20px 0;
font-size: 2rem;

/* padding: 6rem 0; */
/* background: var(--org); */
}


/* ------------form----------- */
.form {
  display: flex;
  flex-direction: column;
  gap: 6px;
  max-width: 550px;
  min-height: 40vh;
  background-color: transparent;
  padding: 20px;
  /* border-radius: 20px; */
  position: relative;
}

.title {
  font-size: 28px;
  color: royalblue;
  font-weight: 600;
  letter-spacing: -1px;
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 30px;
}

.title::before,.title::after {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  border-radius: 50%;
  left: 0px;
  background-color: royalblue;
}

.title::before {
  width: 18px;
  height: 18px;
  background-color: royalblue;
}

.title::after {
  width: 18px;
  height: 18px;
  animation: pulse 1s linear infinite;
}

.message, .signin {
  color: rgba(88, 87, 87, 0.822);
  font-size: 14px;
}

.signin {
  text-align: center;
}

.signin a {
  color: royalblue;
}

.signin a:hover {
  text-decoration: underline royalblue;
}
.super-text{
  display: none;
}
.flex {
  display: flex;
  width: 100%;
  gap: 6px;
  background-color: transparent;
}

.form label span{
  font-size: 1.5rem;
}

/* .form label .input {
  width: 100%;
  padding: 10px 10px 20px 10px;
  outline: 0;
  border: 1px solid rgba(105, 105, 105, 0.397);
  border-radius: 10px;
  margin-top: 20px;
}  */

/* .form label .input + span {
  position: absolute;
  left: 10px;
  top: 15px;
  color: grey;
  font-size: 0.9em;
  cursor: text;
  transition: 0.3s ease;
} */

/* .form label .input:placeholder-shown + span {
  top: 15px;
  font-size: 0.9em;
} */

/* .form label .input:focus + span,.form label .input:valid + span {
  top: 0px;
  font-size: 0.7em;
  font-weight: 600;
}

.form label .input:valid + span {
  color: var(--org);
} */
.form-text{
  font-size: 100px;
}

.submit {
  border: none;
  outline: none;
  background-color: royalblue;
  padding: 6px;
  border-radius: 10px;
  width: 150px;
  color: #fff;
  font-size: 14px;
  transform: .3s ease;
}

.submit:hover {
  background-color: rgb(56, 90, 194);
  cursor: pointer;
}

@keyframes pulse {
  from {
    transform: scale(0.9);
    opacity: 1;
  }

  to {
    transform: scale(1.8);
    opacity: 0;
  }
}
@media (max-width:941px){
.form-container{
  display: flex;
  flex-direction: column;
}
.form-container-1{
  display: none;
  width: 60vw;
  height: 20vh;
  border-radius: 20px;

}
.super-text{
  background: #f5225f;
  color: #fff;
  position: relative;
  top: -9.6rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5rem;
  text-align: center;
  font-size: 2rem;
  border-radius: 20px 20px 0 0;
}
.form-container-2{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vh;
}
}

@media screen and (max-width:600px){
  .form{
    gap: 6px;

  }
  .submit{
    padding: 5px;
    width: 150px;
  }
}