.texthead{
    margin-top: 3rem;

    color:#f5225f;
  font-size: 5rem;
}


@media(min-width:1000px) and (max-width:1284px) {
    .texthead{
        margin-bottom: 15rem;
        font-size: 4rem;
    }
}
@media screen and (max-width:724px){
    .texthead{
        font-size: 4rem;
        margin-top: 6rem;
        text-align: center;
    }
    .marqueetext{
        display: flex;
        height: 90px;
        margin: 0rem 0 0rem 0;
    }
}
@media only screen and (min-width: 500px) and (max-width: 800px) {
	.texthead{
        font-size: 4rem;
        /* margin-top: 6rem; */
        text-align: center;
    }
}